.containerar {
  display: flex;
  border: 4px ridge rgba(29, 122, 171, 1);
  align-items: center;
  justify-content: center;
  height: 520px; /* Ajusta la altura según necesites */
  padding: 20px;
  width: 900px; /* Ajusta el ancho según necesites */
  text-align: center;
  color: white; /* Cambiado a blanco para coincidir con el diseño */
  background-color: #151515; /* Cambiado para coincidir con el diseño */
  border-radius: 10px; /* Ajustado para coincidir con el diseño */
  box-shadow: 2px 2px 6px 1px white; /* Ajustado para coincidir con el diseño */
  margin-left: 15%;
}

/* Estilos para la información del artista */
.artist-info {
  background-color: rgba(29, 122, 171, 1);
  height: 300px;
  width: 350px;
  margin-top: -15%;
  border-radius: 8px;
  padding: 20px;
  border: 4px ridge rgba(29, 122, 171, 1);
  box-shadow: 0px 0px 10px 1px #000000ee; 
  margin-left: -45%;
}

.artist-info ul{
  text-align: left;
}

#imgContentArtist {
  height: 250px;
  width: 250px;
  border-radius: 8px;
  margin-bottom: 20px;
}

.link-style {
  text-decoration: none;
  color: #ffbb66; 
}

.linksArtist:hover {
  color: rgba(29, 122, 171, 1);
}

.linksArtist {
  margin-left: -15%;
 text-align: left;
 font-size: 18px;
 margin-top: -15%;

}

.artist-info p{
  color: #ffbb66;
}

 .songsArtistPage {
  margin-left: -35%;
  width: 100px;
  background-color: red;
 }