/* EditPageAdmin.css */

.edit-page-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 2px solid rgba(29, 122, 171, 1);
  border-radius: 5px;
  background-color: #212121;
  margin-top: 20px;
  box-shadow: 1px 1px 10px 1px white;
}

.edit-page-container > h2 {
  color: white;
}

.edit-form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form-label {
  display: flex;
  flex-direction: column;
}

.form-input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.submit-button {
  width: 100%;
  padding: 14px 13px 12px 13px;
  margin: 0;
  color: white;
  background-color: transparent;
  font-weight: 600;
  font-size: 14px;
  border: 0;
  outline: 1px solid rgba(29, 122, 171, 1);
  border-radius: 8px;
  line-height: 1;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
  box-sizing: border-box;
}

.submit-button:hover {
  background-color: rgba(29, 122, 171, 1);
  color: #161616;
}

#contentID{
    color: white;
}


/* OTRA PARTE */

.songList {
    list-style-type: none;
    padding: 0;
    text-align: center;
  }
  
  .songListItem {
    margin-bottom: 10px;
  }
  
  .songInfo {
    color: white;
    background-color: #212121;
    padding: 10px;
    border-radius: 8px;
    display: inline-block;
    box-shadow: 1px 1px 10px 1px white;

  }
  
  .deleteButton {
    background-color: #212121;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
  }


  .deleteButton:hover {
    background-color: rgba(29, 122, 171, 1);

  }
  
  