.containerGlobalMainPage{
    display: flex;
}

.containerInformationUsersAndArtist{
    margin: 0 auto;
}



.contentMainAdmin{
    background-color: red;
    width: 60%;
    min-height: 500px;
    display: grid;
    margin-left: 15%;
}

.inputAdmin{
    background-color: aqua;
    width: 350px;
    padding: 25px;
}

.inputAdmin input{
    width: 200px;
    height: 40px;
    margin-left: 20%;

}