.feedContainer {
    width: 560px;
    display: grid;
    grid-template-columns:repeat(1,1fr)
  }
  
  /* Estilos para cada tarjeta de feed */
  .feedCard {
    width: 660px;
    height: 170px;
    background: rgba(67, 63, 63, 0.712);
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 30px;
    margin-left: 1.1%;
    margin-top: 1%;
    outline: 1px solid rgba(29, 122, 171, 1);
  }