<!DOCTYPE html>
<html>
<head>
  <title>Confirmación de registro como artista</title>
</head>
<body>
  <h1>Hola <%= @artist.name_artist %>,</h1>
  <p>Gracias por registrarte como artista. Por favor, espera la confirmación de un administrador para completar tu registro.</p>
  <!-- Puedes agregar más contenido aquí -->
</body>
</html>